{% trans_default_domain 'FOSUserBundle' %}

<div class="accueil">
    <div class="logoaccueil"><img src="{{ asset('assets/images/logo') }}.png"></div>
    <div class="pagelog">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" id="_submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
</div>

{%  block body %}
{% endblock %}
